<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset= "UTF-8">
        <meta http-equiv="-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PCP Dominoes Puzzle!</title>
    
        <script src="../static/js/main.js"></script>
        <link rel="stylesheet" href="../static/css/styles.css"/>

    </head>
    <body>
        <div id="container">
            <div id="game">
                <header>
                    <h1 class="title">Dominos</h1>
                </header>
                <div id="board-container">
                    <div id="board"></div>
                </div>
                <div id="keyboard-container" class="keyboard-container">
                    <div id="dom-container" class="keyboard"></div>
                    <div class="verify">
                        <button data-key="verify">verify</button>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>